<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangyu.dao.IBookMapper">
    <resultMap id="BaseResultMap" type="com.zhangyu.pojo.Book">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="writer" property="writer"/>
        <result column="introduction" property="introduction"/>
    </resultMap>
    
    <parameterMap id="book" type="com.zhangyu.pojo.Book"/>

    <sql id="Base_Column_List">
        id, name, writer, introduction
    </sql>

    <!--查询所有书本-->
    <select id="findAll" resultType="Book" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_book
    </select>
    <!--添加一本书-->
    <insert id="insertByBook" parameterType="Book">
        insert into
        t_book(name,writer,introduction)
        values (#{name},#{writer},#{introduction})
    </insert>
    <!--更新一本书-->
    <update id="update" parameterType="Book">
        update
        t_book
        set name=#{name},writer=#{writer},introduction=#{introduction}
        where id=#{id}
    </update>
    <!--根据ID删除一本书-->
    <delete id="delete" parameterType="java.lang.Long">
        delete from
        t_book
        where id=#{id}
    </delete>
    <!--根据id查询一本书-->
    <select id="findById" parameterType="java.lang.Long" resultType="Book">
        select
        <include refid="Base_Column_List"/>
        from t_book
        where id=#{id}
    </select>
</mapper>